
/* SPACING –––––––––––––– */
    
    /* Padding –––––––––––––– */
    .padding-top-250{
        padding-top:250px;
    }

    .padding-top-10 {
        padding-top:10px;
    }

    .padding-left-100 {
        padding-left:100px;
    }

    .padding-top-20 {
        padding-top:20px;
    }

    .padding-top-30 {
        padding-top:30px;
    }

    .padding-top-40 {
        padding-top:40px;
    }

    .padding-left-30 {
        padding-left:30px;
    }

    .scroll-header-pad {
        padding-top:20px;
    }

    /* Margin –––––––––––––– */
    .margin-top-45 {
        margin-top:45px;
    }

    .margin-top-100 {
        margin-top:100px;
    }

    .margin-top-210 {
        margin-top:210px;
    }


/* BORDERS –––––––––––––– */

.main--navbar {
    height:65px;
}

.hidden {
    display:none;
}

.bg-emerald {
    background-color:#48BA95;
}

.hover-signal {
    cursor: pointer; 
    cursor: hand;
}


